<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/layout/meta :: heading"></head>
<body>


<!-- Start your page here-->
<div style="height: 100vh">
    <nav th:replace="public/layout/navbar-secondary :: navbar(title=${pair})"></nav>
    <!--build ticker here for default value control web router-->
    <div th:replace="public/layout/ticker-marquee :: ticker_marquee(pair=${pair},pair_value=${pair_value},investment_value=${investment_value},moving_average=${moving_average})"></div>
    <!--build ticker here for default value end-->
    <canvas id="lineChart"></canvas>

  <!--end of tab section-->
</div><!--end of page start-->

<a href="/email/thread">RUN BACKGROUND THREAD</a>

<!-- SCRIPTS -->
<div th:replace="public/layout/meta :: scripts"></div>
<!-- JQuery -->


</body>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
<script>
    if (!!window.EventSource) {
        console.log("Event source available");

        var source = new EventSource('/sse/demo/charts');

        source.addEventListener('message', function(e) {
            console.log("chart data");
            console.dir(e.data);
            var d = JSON.parse(e.data);
            console.dir(d);
            writeToLineChart1(d);

        });

        source.addEventListener('open', function(e) {
            console.log("Connection was opened.");
        }, false);

        source.addEventListener('error', function(e) {
            if (e.readyState == EventSource.CLOSED) {
                console.dir(e);
                console.log("Connection was closed.");
            } else {
                console.log(e.readyState);
            }
        }, false);
    } else {
        console.log("No SSE available");
    }






    function writeToLineChart1(data) {
        var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
            type: 'line',
            data: {
                labels: data.formatted_date,
                datasets: [{
                    label: "My Investment",
                    data: data.user_price,
                    borderColor: [
                        'black'
                    ],
                    borderWidth: 1
                },
                    {
                        label: "Average Price",
                        data: data.price_moving_average,
                        borderColor: [
                            'orange'
                        ],
                        borderWidth: 3
                    },
                    {
                        label: "Current Value",
                        data: data.current_price,
                        borderColor: [
                            'blue'
                        ],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                responsive: true
            }
        });
    }

</script>
</html>
