<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/layout/meta :: heading"></head>
<body>


<!-- Start your page here-->
<div style="height: 100vh">
    <nav th:replace="public/layout/navbar :: navbar"></nav>
    <!--build ticker here for default value control web router-->
    <div th:replace="public/layout/ticker-marquee :: ticker_marquee(pair=${pair},pair_value=${pair_value},investment_value=${investment_value},moving_average=${moving_average})"></div>
    <!--build ticker here for default value end-->
    <canvas id="bubbleChart"></canvas>
    <div style="width:100%;">
        <table style="display:inline; width:49%;" id="buy_table">
            <thead>
            <th>
                Date
            </th>
            <th>
                Side
            </th>
            <th>
                Size
            </th>
            <th>
               Price
            </th>
            </thead>
            <tbody id="buy_tbody">
            <tr th:each="buy:${data.buys}">
                <td th:text="${buy.time}"></td>
                <td th:text="${buy.side}"></td>
                <td th:text="${buy.size}"></td>
                <td th:text="${buy.price}"></td>
            </tr>
            </tbody>
        </table>

        <table style="display:inline; width:49%;" id="sells_table">
            <thead>
            <th>
                Date
            </th>
            <th>
                Side
            </th>
            <th>
                Size
            </th>
            <th>
                Price
            </th>
            </thead>
            <tbody id="sells_tbody">
            <tr th:each="sell:${data.sells}">
                <td th:text="${sell.time}"></td>
                <td th:text="${sell.side}"></td>
                <td th:text="${sell.size}"></td>
                <td th:text="${sell.price}"></td>
            </tr>
            </tbody>
        </table>




    </div>

    <p th:text="${data}"></p>
  <!--end of tab section-->
</div><!--end of page start-->

<!-- SCRIPTS -->
<div th:replace="public/layout/meta :: scripts"></div>
<!-- JQuery -->


</body>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
<script type="text/javascript">
    if (!!window.EventSource) {
        console.log("Event source available");

        var source = new EventSource('/sse/demo/charts/trades');

        source.addEventListener('message', function(e) {
            console.log("currency data");
            console.dir(e.data);
            var d = JSON.parse(e.data);
            console.log("****M*****");
            console.dir(d);
            editTableData(d);

        });

        source.addEventListener('open', function(e) {
            console.log("Connection was opened.");
        }, false);

        source.addEventListener('error', function(e) {
            if (e.readyState == EventSource.CLOSED) {
                console.dir(e);
                console.log("Connection was closed.");
            } else {
                console.log(e.readyState);
            }
        }, false);
    } else {
        console.log("No SSE available");
    }

    function editTableData(data){
        var ctxBc = document.getElementById('bubbleChart').getContext('2d');
        var bubbleChart = new Chart(ctxBc, {
            type: 'bubble',
            data: {
                datasets: [{
                    label: 'Buy',
                    data: data.buy_data,
                    backgroundColor: "green",
                    hoverBackgroundColor: "red"
                }, {
                    label: 'Sell',
                    data: data.sell_data,
                    backgroundColor: "orange",
                    hoverBackgroundColor: "red"
                }, {
                    label: 'Average',
                    data: data.ma_data,
                    backgroundColor: "blue",
                    hoverBackgroundColor: "brown"
                }]
            }
        });


    }
</script>




</html>
