<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/layout/meta :: heading"></head>
<body>


<!-- Start your page here-->
<div style="height: 100vh">
    <nav th:replace="public/layout/navbar :: navbar"></nav>
    <h4 th:text="${pair}"></h4>

  <!--end of tab section-->
</div><!--end of page start-->

<!-- SCRIPTS -->
<div th:replace="public/layout/meta :: scripts"></div>
<!-- JQuery -->


</body>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
<script type="text/javascript">
    if (!!window.EventSource) {
        console.log("Event source available");

        var source = new EventSource('/sse/demo/currencies');

        source.addEventListener('message', function(e) {
            console.log("currency data");
            console.dir(e.data);
            var d = JSON.parse(e.data);
            editTableData(d);

        });

        source.addEventListener('open', function(e) {
            console.log("Connection was opened.");
        }, false);

        source.addEventListener('error', function(e) {
            if (e.readyState == EventSource.CLOSED) {
                console.dir(e);
                console.log("Connection was closed.");
            } else {
                console.log(e.readyState);
            }
        }, false);
    } else {
        console.log("No SSE available");
    }

    function editTableData(data){
        for(var i=0;i<data.length;i++){

            var pair = data[i].pair;
            console.dir(data[i]);

            var current_span = "currrate-"+pair;
            console.log(current_span);
            var num_diff_span = "numdiff-"+pair;
            var perc_diff_span = "perdiff-"+pair;

            var curr_ele = document.getElementById(current_span);
            var num_diff_ele = document.getElementById(num_diff_span);
            var perc_diff_ele = document.getElementById(perc_diff_span);


            curr_ele.innerHTML = data[i].rate;
            num_diff_ele.innerHTML = data[i].demo_diff;
            perc_diff_ele.innerHTML = data[i].demo_diff_percentage;

            var color = "inherit";

            switch(data[i].diff_interaction){
                case "OVER":
                    color = "green";
                    break;
                case "UNDER":
                    color = "red";
                    break;
                default:
                    color = "inherit";
                    break;
            }

            num_diff_ele.style.color = color;
            perc_diff_ele.style.color = color;








        }


    }
</script>




</html>
